<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoxin.mapper.MasterMapper">

    <resultMap id="MasterMap" type="com.xiaoxin.pojo.Master">
        <id column="id" property="id"/>
        <result column="row" property="row"/>
        <result column="col" property="col"/>
    </resultMap>

    <!--根据ID查询Master-->
    <select id="getMasterById" resultMap="MasterMap">
        select  * from master where id=#{id}
    </select>

</mapper>
